<div class="line-chart">
  <div class="box product">
    <div class="head">
      <div class="item title">
        <img src="assets/Activity.png" alt="" />
        <span>Current Activity</span>
      </div>
      <ul>
        <li class="item OEE">
          <span>OE</span>
          <small>E</small>
        </li>
        <li class="item">MTBF[h]</li>
        <li class="item">UPTIME</li>
      </ul>
    </div>
    <div class="" style="width: 100%; height: 15rem">
      <canvas id="myChartline"></canvas>
    </div>
  </div>
</div>
