.days {
  width: 19rem;
  .items {
    // background-color: var(--back-color);
    display: grid;
    grid-auto-flow: column;
    border-radius: 10px;
    height: 2rem;
    justify-items: center;
    .item {
      width: 100%;
      height: 2rem;
      text-align: center;
      border-radius: 10px;
      display: grid;
      align-content: center;
      cursor: pointer;
      font-size: 11px;
      color: rgb(128, 128, 128);
      padding: 8px;
    }
    .item.active {
      background: #08415C;
      color: white;
      transition: 0.3s;
      font-weight: 500;
      span {
        color: white;
      }
    }
  }
}
