<div class="ri-charts">
  <div class="cycle-time">
    <div class="title">
      <p style=" --clr: #FF9F1C">CYCLE TIME</p>
      <span>[seconds]</span>
    </div>
    <div class="Chart" >
      <canvas id="myChart"></canvas>
    </div>
    <div class="button-data">
      <div class="item avg">
        <span>Avg.</span>
        <h4>1.0</h4>
      </div>
      <div class="item">
        <span> <i class="fa-solid fa-chevron-down"></i> Min.</span>
        <h4>0.5</h4>
      </div>
      <div class="item">
        <span> <i class="fa-solid fa-chevron-up"></i> Max.</span>
        <h4>2.0</h4>
      </div>
    </div>
  </div>
  <div class="cycle-time">
    <div class="title">
      <p style=" --clr: #CA4E82">CYCLE TIME</p>
      <span>[seconds]</span>
    </div>
    <div class="Chart" >
      <canvas id="myCharttwo"></canvas>
    </div>
    <div class="button-data">
      <div class="item avg">
        <span>Avg.</span>
        <h4>1.0</h4>
      </div>
      <div class="item">
        <span> <i class="fa-solid fa-chevron-down"></i> Min.</span>
        <h4>0.5</h4>
      </div>
      <div class="item">
        <span> <i class="fa-solid fa-chevron-up"></i> Max.</span>
        <h4>2.0</h4>
      </div>
    </div>
  </div>
  <div class="cycle-time">
    <div class="title">
      <p style=" --clr: #00D1DE">CYCLE TIME</p>
      <span>[seconds]</span>
    </div>
    <div class="Chart" >
      <canvas id="myChartthree"></canvas>
    </div>
    <div class="button-data">
      <div class="item avg">
        <span>Avg.</span>
        <h4>1.0</h4>
      </div>
      <div class="item">
        <span> <i class="fa-solid fa-chevron-down"></i> Min.</span>
        <h4>0.5</h4>
      </div>
      <div class="item">
        <span> <i class="fa-solid fa-chevron-up"></i> Max.</span>
        <h4>2.0</h4>
      </div>
    </div>
  </div>
</div>
