<div class="line-name">
  <app-sidebar></app-sidebar>
  <div class="coponiant">
    <app-header></app-header>
    <div class="head">
      <div class="left">Factory Name</div>
    </div>
    <div class="items">
      <div class="item-boxes">
        <app-f-boxes></app-f-boxes>
      </div>
      <div class="item4">
        <app-ri-charts></app-ri-charts>
      </div>
      <div class="item5">
        <app-f-bar-chart></app-f-bar-chart>
      </div>
      <div class="item6">
        <app-time-line></app-time-line>
      </div>
    </div>
  </div>
</div>
