:root {
  --main-color: #f40009;
  --main-color-sec: #0000001f;
  --back-color: #dfdfdf;
  --secondary-color: #6c757d;
  --font-color: #02385a;
  --second-font-color: #1eaaad;
  --rete-up: #00cbc0;
}
* {
  margin: 0;
  bottom: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}
body {
  // overflow: hidden;
}
.main-color {
  color: var(--main-color);
}
.container {
  width: 80%;
  margin: auto;
}
.container-navbar {
  height: 100%;
}

ul {
  list-style: none;
  padding: 0;
}
button {
  border: none;
  background: transparent;
  width: 12rem;
  cursor: pointer;
  background: var(--main-color);
  color: white;
  border-radius: 8px;
  padding: 10px 4px;
  font-size: 13px;
}
button:hover {
  transition: 0.3s;
  opacity: 0.6;
}
a {
  text-decoration: none;
  color: white;
}
.categories-container {
  display: flex;
  gap: 16px; // Adjust the gap as needed
}

.category {
  flex: 1;
}
input {
  outline: none;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--main-color);
}

// @media (max-width: 1140px) {

// }
// @media (max-width: 992px) {

// }
// @media (max-width: 768px) {

// }
// @media (max-width: 576px) {

// }

.cycle {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-around;
  margin: 5px 0px;
  .item {
    display: grid;
    justify-content: center;
    justify-items: center;
    .progress {
      position: relative;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      transition: 0.3s;
      background: #B2BEC39C linear-gradient(to right, transparent 50%, var(--clr) 0);
      h3 {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 11px;
        font-weight: 500;
        z-index: 1;
        color: black;
        span {
          font-size: 11px;
          font-weight: 400;
        }
      }
      h4 {
        position: absolute;
        top: 62%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        font-weight: 500;
        color: var(--clr);
      }
    }
    .progress::before {
      content: "";
      display: block;
      margin-left: 50%;
      top: 0;
      width: 50%;
      transform-origin: left;
      border-radius: 0 100% 100% 0/50%;
      background-attachment: red;
    }
    .progress::after {
      content: "";
      position: absolute;
      inset: 4px;
      border-radius: 50%;
      background: white;
    }
    .progress::before {
      background: var(--clr);
      transform: rotate(calc(((var(--i) - 50) * 0.01turn)));
      animation-name: example;
      animation-duration: 4s;
    }
  }
}
