<div class="boxes">
  <div class="box product">
    <div class="title">
      <img src="assets/product.png" alt="" />
      <span>Total Production</span>
    </div>
    <div class="numbers">
      <div class="num-item">
        <span [countUp]="5000" >5,000 <sub>bph</sub></span>
        <small>Production /h</small>
      </div>
      <div class="num-item">
        <span  [countUp]="7000" >7,000 <sub>KM</sub></span>
        <small>Actual Production</small>
      </div>
    </div>
    <div class="bars">
      <div class="items">
        <div class="item">
          <div class="bar" style="--i: 76% ; --clr: #FF5400"></div>
          <small>Production Yield</small>
        </div>
        <span  [countUp]="76" > 76%</span>
      </div>
    </div>
  </div>
  <div class="box performance" >
    <div class="title">
      <img src="assets/pereformance.png" alt="" />
      <span>Performance Indicator KPI</span>
    </div>
    <div class="cycle">
      <div class="item">
        <div class="progress" style="--i: 76 ; --clr: #08415C">
          <h3  [countUp]="76"  ><span>76%</span></h3>
        </div>
        <p>OEE</p>
      </div>
    </div>
    <div class="bars">
      <div class="items">
        <div class="item">
          <div class="bar" style="--i: 80% ; --clr: #FF5400"></div>
          <small>Production Yield</small>
        </div>
        <span  [countUp]="80" >80%</span>
      </div>
      <div class="items">
        <div class="item">
          <div class="bar" style="--i: 30% ; --clr: #FF9F1C"></div>
          <small>Production Yield</small>
        </div>
        <span>30%</span>
      </div>
      <div class="items">
        <div class="item">
          <div class="bar" style="--i: 60% ; --clr: #FF5400"></div>
          <small>Production Yield</small>
        </div>
        <span [countUp]="60"  > 60%</span>
      </div>
    </div>
  </div>
  <div class="box product">
    <div class="title">
      <img src="assets/energy.png" alt="" />
      <span>Power KPI</span>
    </div>
    <div class="numbers">
      <div class="num-item">
        <span  [countUp]="5000" >5,000 <sub>bph</sub></span>
        <small>Production /h</small>
      </div>
      <div class="num-item">
        <span  [countUp]="7000" >7,000 <sub>KM</sub></span>
        <small>Actual Production</small>
      </div>
      <div class="num-item">
        <span  [countUp]="5000" >5,000 <sub>bph</sub></span>
        <small>Production /h</small>
      </div>
    </div>
  </div>
</div>
