.boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  gap: 10px;
  height: 6rem;
  .box {
    background-color: white;
    width: 100%;
    border-radius: 5px;
    padding: 5px 0;
    box-shadow: 1px 1px 9px 0px #6e6e6ead;
    .title {
      display: grid;
      grid-auto-flow: column;
      padding: 5px;
      justify-content: left;
      border-bottom: 1px solid #ddd;
      gap: 2px;
      padding-left: 15px;
      img {
        width: 18px;
      }
      span {
        font-size: 11px;
        font-weight: 600;
      }
    }
    .numbers {
      display: grid;
      grid-template-columns: 50% 50%;
      padding: 10px;
      padding-left: 15px;
      gap: 5px 0;
      .num-item {
        display: grid;
        grid-auto-flow: row;
        span {
          font-weight: 600;
          font-size: 18px;
          sub {
            font-size: 8px;
          }
        }
        small {
          font-size: 8px;
          color: #8d9192;
        }
      }
    }

    .bars {
      padding: 10px;
      padding-left: 15px;
      .items {
        display: grid;
        grid-template-columns: 70% 30%;
        align-items: center;
        gap: 0 10px;
        .item {
          .bar {
            height: 7px;
            background-color: #b2bec39c;
            width: 100%;
            position: relative;
            border-radius: 10px;
            top: 5px;
          }
          .bar::after {
            content: "";
            height: 100%;
            width: var(--i);
            background-color: var(--clr);
            position: absolute;
            left: 0;
            top: 0;
            border-radius: 10px;
            animation: baranme 2s;
          }
          @keyframes baranme {
            from {
              width: 0;
            }
            to {
              width: var(--i);
            }
          }
          small {
            font-size: 8px;
          }
        }
        span {
          font-size: 18px;
          font-weight: 600;
          position: relative;
          bottom: 7px;
        }
      }
    }
  }
  .performance {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 22rem;
    align-items: center;
    .title {
      grid-column: span 2;
    }
    .cycle {
      width: 6rem;
      margin-top: 10px;
      .item {
        .progress {
          width: 60px;
          height: 60px;
          h3 {
            top: 42%;
            span {
              font-size: 14px;
              font-weight: 600;
            }
          }
        }
        .progress::after {
          inset: 6px;
        }
      }
      p {
        font-size: 12px;
        font-weight: 600;
      }
    }
    .bars {
      width: 16rem;
    }
  }
}
